html {
    overflow-x: hidden;
}

body {
    background-color: #93a7ac; 
    font: normal 1em Arial;
    line-height: 1.5em;
    border: 1px hsla(0, 0%, 0%, 0.5) solid;
    border-top: 0;
    border-bottom: 0;
}

#container {
    padding: 0 10px 20px;
    color: #333;
    border-top: 1px solid #8B8B8B;
}

header {
    background-color: orange;
}

h1, h2 {
    color: hsla(0, 0%, 10%, 0.8);
    text-shadow: hsla(0, 0%, 80%, 0.6) 0 1x 0;
    margin: 2px 0 6px;
    font-size: 1.3em;
    padding: 0;
}

h2 {
    font-size: 1.2em;
}

p {
    padding: 0;
    margin: 8px 0;
    text-align: justify;
}

a {
    color: white;
    background: hsla(0, 0%, 20%, 0.3);
    -webkit-border-radius: 4px;
    padding: 2px 4px;
    text-decoration: none;
}

ul {
    margin: 10px 0 5px;
    padding: 0 10px 0 20px;
    text-align: justify;
}

ul li {
    margin: 0;
    padding: 0;
}

/* mobiscroll customizations */

.mf-scroll {
    padding: 10px 0 20px;
    min-height: 100%;
}

/* mobiscroll additions */

/* menu images */

a[href="#!/about"] > strong::before {
    background-image: url(../images/house.png);
    -webkit-mask-image: url(../images/house.png);
}

a[href="#!/demos"] > strong::before {
    background-image: url(../images/picture-frame.png);
    -webkit-mask-image: url(../images/picture-frame.png);
}

a[href="#!/docs"] > strong::before {
    background-image: url(../images/book.png);
    -webkit-mask-image: url(../images/book.png);
}