/* required html defaults */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: -webkit-box; display: -moz-box; display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

/* header styles */

header.mf {
    background-color: #999;
    display: -webkit-box; display: -moz-box; display: box;
}

header.mf > * {
    display: block;
    margin: 8px 4px;
}

/* 
provide the option of using a h1 tag in the header or 
simply a strong tag.  This provides options on how to layout
and include HTML pages.
*/
header.mf h1, header.mf strong {
    color: hsla(0, 0%, 100%, 0.9);
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

header.mf a {
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
    background: -moz-gradient(linear, left top, left bottom, from(#999), to(#333));
    color: white;
    padding: 4px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
}

/* header buttons */

header.mf a.back {
    -webkit-mask-box-image: url(img/back-button-mask.png) 20 0 20 12;
    -moz-mask-box-image: url(img/back-button-mask.png) 20 0 20 12;
    mask-box-image: url(img/back-button-mask.png) 20 0 20 12;
    padding-left: 14px;
    margin-left: 0px;
}

/* multipage central element */

.mf-pager {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    overflow: hidden;
    z-index: 1;
}

.mf-pager > * {
    display: none;
    width: 100%;
}

.mf-pager > .current {
    display: block;
}

/* scroller styles */

.mf-scroll {
}

/* action bar */

.mf-menu {
    display: -webkit-box; display: -moz-box; display: box;
    background: #000;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

.mf-menu a {
    color: #AAA;
    display: -webkit-box; display: -moz-box; display: box;
    font: bold 0.6em "Helvetica Neue", Helvetica;
    margin: 2px 1px 1px;
    padding: 2px 0;
    min-width: 56px;
    -webkit-font-smoothing: antialiased;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    text-decoration: none;
}

.mf-menu a > strong {
    display: block;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.mf-menu a > strong::before {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#333));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#333));

    content: ' ';
    display: block;
    border: 0px;
    width: 28px;
    height: 28px;
    margin: 2px auto;

    -webkit-mask: 50% 50% url(data:image/png;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat;
    -moz-mask: 50% 50% url(data:image/png;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat;
    mask: 50% 50% url(data:image/png;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat;
}

.mf-menu a.active {
    background: hsla(0, 0%, 60%, 0.3);
    color: #FFF;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.mf-menu a.active > strong::before {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#666));;
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#666));;
}

/* bars */

.mf-bar {
    display: -webkit-box;
}

.mf-bar > * {
    -webkit-box-flex: 1;
    display: block;
    margin: 0 2px 2px 0;
}

/* buttons */

.mf-button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.mf-button[disabled] {
    opacity: 0.7;
}


/* fx */

.mfx-glass {
    -webkit-background-clip: padding;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(hsla(0, 80%, 100%, 0.6)),
        color-stop(0.5, hsla(0, 50%, 100%, 0.1)),
        color-stop(0.55, hsla(0, 0%, 0%, 0)),
        to(hsla(0, 0%, 0%, 0)));
    color: hsla(0, 0%, 0%, .8);
}

/* flags and options */

.mfo-vert {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

/* media query customizations */

@media all and (orientation:landscape) { 
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
}