/* fx */

*[class*="mfx"] {
    -webkit-background-clip: padding;
}

.mfx-gradient-simple {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(hsla(0, 0%, 100%, 0.3)),
        to(hsla(0, 0%, 0%, 0)));
}

.mfx-gradient-simple[class~='reverse'] {
    background-image: -webkit-gradient(linear, left bottom, left top, 
        from(hsla(0, 0%, 100%, 0.3)),
        to(hsla(0, 0%, 0%, 0)));
}

.mfx-gradient-strong {
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(hsla(0, 0%, 100%, 0.6)),
        to(hsla(0, 0%, 0%, 0)));
}

.mfx-gradient-strong[class~='reverse'] {
    background-image: -webkit-gradient(linear, left bottom, left top, 
        from(hsla(0, 0%, 100%, 0.6)),
        to(hsla(0, 0%, 0%, 0)));
}

.mfx-glass {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(hsla(0, 80%, 100%, 0.6)),
        color-stop(0.5, hsla(0, 50%, 100%, 0.1)),
        color-stop(0.55, hsla(0, 0%, 0%, 0)),
        to(hsla(0, 0%, 0%, 0)));
}

.mfx-glass[class~='reverse'] {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(hsla(0, 80%, 100%, 0.6)),
        color-stop(0.5, hsla(0, 50%, 100%, 0.1)),
        color-stop(0.55, hsla(0, 0%, 0%, 0)),
        to(hsla(0, 0%, 0%, 0)));
}