/* header styles */

header.mf {
}

/* 
provide the option of using a h1 tag in the header or 
simply a strong tag.  This provides options on how to layout
and include HTML pages.
*/
header.mf h1, header.mf strong {
    color: hsla(0, 0%, 100%, 0.9);
}

header.mf a {
    @include gradient-simple(#999, #333, background-image);
    @include multi-target(border-radius, 4px);
    
    color: white;
    padding: 4px 6px;

    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
}

/* header buttons */

header.mf a.back {
    @include multi-target(mask-box-image, url(img/back-button-mask.png) 20 0 20 12);

    padding-left: 14px;
    margin-left: 0px;
    float: left;
    display: none;
}