@mixin flexbox {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}

@mixin flexbox-orient($orientation: horizontal) {
    -webkit-box-orient: $orientation;
    -moz-box-orient: $orientation;
    box-orient: $orientation;
}

@mixin flexbox-pack($alignment: start) {
    -webkit-box-pack: $alignment;
    -moz-box-pack: $alignment;
    box-pack: $alignment;
}

@mixin flexbox-flex($flex: 1) {
    -webkit-box-flex: $flex;
    -moz-box-flex: $flex;
    box-flex: $flex;
}